* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;   
}

body {
    
    
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.container {
    display: flex;
    justify-content: center;  
    flex-direction: column; 
    align-items: center ; 
    background-color: yellow;
    width: 80%;
    
}

header {
    display: flex;
    justify-content: space-between;   
}

.menu {
    display: flex;    
    justify-content: center;
}

.menu-li {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    list-style: none;
    border: 1px solid #0b8556;
    margin: 2px;
    padding: 5px;
    border-radius: 5px;
}

.reqDocTram  {
    text-align: justify;
    width: 80%;
    background-color: brown; 
}

.reqDocTram li {
    list-style: none;
}