* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;   
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 70%;
    margin: 0 auto;
    text-align: justify;
}

h2 {
    margin: 20px auto 20px 0px;
    padding-left: 2px;
    border-left: 2px solid rgb(48, 196, 104);
}