* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;   
}

body {
    width: 70vw;
    height: 70vh;
    margin: 0 auto;  
    text-align: center;
      
}

.container {
    display: flex;
    justify-content: center;  
    flex-direction: column; 
    align-items: center;  
}

header {
    background-color: chartreuse;
    width: 100vw;
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.nav-ul {
    display: flex;
    justify-content: center;
    width: 70vw;
}

.nav-li {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-content:center; 
    text-align: center;  
}

section.titulos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: justify;
    line-height: 30px;
    
}

.titulos ol {
   list-style: none;
}




