* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;   
}

body {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    width: 80%;    
}

.container {
    display: flex;
    justify-content: center;  
    flex-direction: column; 
    align-items: center; 
}

header {
    display: flex;
    justify-content: space-between;   
    align-items: center;
    background-color: #6cf8c3;
    width: 80%;
} 

p {
    display: flex;
    justify-content: center;
    width: 80%;
    text-align: justify;
    margin-top: 10px;
}


hr {
    margin-top: 40px;
    width: 80%;
    border: 1px solid #6cf8c3;    
}

.container-group{
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 0 auto;
    
}

h3 {
    margin-top: 20px;
}

.tit-3 {    
    border: 1px solid #72e2b7;    
    border-radius: 15px;
    padding: 5px;
    cursor: pointer;
    background-color: #6cf8c3;
    color: #000; 
    text-align: center;   
}


