* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;  
    margin: 0 auto;  
    padding: 0;
    width: 80%;    
}

.container {
    display: flex;
    justify-content: center;  
    flex-direction: column; 
    align-items: center; 
    width: 80%;
}

header {
    display: flex;
    justify-content: space-between;    
    align-items: center;
    width: 80%;
    margin: 0 auto;
    background-color: #6cf8c3;
}

.header-menu{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.menu {
    display: flex;    
    justify-content: center;
}

.menu-li {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    list-style: none;
    border: 1px solid #0b8556;
    margin: 5px;
    padding: 5px;
    border-radius: 5px;   
}

.recDocTram  {
    display: block;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin: 0 auto;
}