* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;  
    margin: 0 auto;  
    padding: 0;
    width: 80%;
    
}

.container {
    display: flex;
    justify-content: center;  
    flex-direction: column; 
    align-items: center; 
    width: 80%;
    
}

header {
    display: flex;
    justify-content: space-between;    
    align-items: center;
    width: 80%;
    margin: 0 auto;
    background-color: #6cf8c3;
}

.rdt  {
    display: block;
    justify-content: center;
    align-items: center;
    width: 80%;
    margin: 0 auto;
}